[2019-02-03 20:33] benmccann opened #2 "Support internationalizable date formats"
`format` right now:

[code]

[Luxon recommends `toLocaleString` and discourages `toFormat`](https://github.com/moment/luxon/blob/master/docs/formatting.md#tolocalestring-strings-for-humans)

Ideally the datetime adapter would support both:

[code]

We may also want to change the default formats to something like:

[code]

This is a mix of internationalizable and non-internationalizable datetime fo

[2019-03-05 09:25] jonrimmer opened #3 "Support timezone config"
We need to display our charts in UTC, so will have to fork this adapter to do this. Would be useful if there was some way to supply a timezone param to be used in the `create` function. E.g.

[code]

[2019-03-05 09:42] simonbrunel commented on #3
That's something planned since we introduced [adapter options](/chartjs/Chart.js/pull/6016). But until it's implemented (and if all your charts need to be UTC), you can already configure the [default zone globally](https://moment.github.io/luxon/docs/manual/zones.html#changing-the-default-zone):

[code]

[2019-03-05 09:55] jonrimmer commented on #3
Thanks Simon. 2.8 is working great for us so far!

[2019-03-05 09:55] simonbrunel commented on #3
I think that's the most common scenario (i.e. all charts with the same time zone) and in this case, I wouldn't even use adapter options but directly manipulate the Luxon default settings API. When different time zones are needed for charts on the same page, then yes, we will need adapter options, something like:

[code]

[2019-03-05 10:00] jonrimmer commented on #3
Yeah. The only drawback is that it's a big app with various feature modules, of which the chart/reporting part is only one. So somebody else might want to show local timezone dates in a different part of the app, and not realise the default is being overwritten to UTC.

EDIT: So, in case it helps anybody else, my solution to this (I'm using Angular) is to set and reset the default timezone when my

[2019-03-05 12:19] simonbrunel commented on #3
Did you figure out how to make moment optional in Angular projects? If so, maybe you can help @lsn793 about [this issue](/chartjs/Chart.js/pull/5978#issuecomment-462734694).

[2019-03-05 16:37] benmccann commented on #3
@jonrimmer I wanted the same feature, but probably won't be able to work on it for awhile since there are some other improvements I'm working on in the meantime. If you wanted to take a stab at it, I'd help review and test it though

With the [adapter options PR](https://github.com/chartjs/Chart.js/pull/6016), you should be able to set an option at `options.adapters.date` and have it passed into t

[2019-03-06 10:07] jonrimmer commented on #3
@benmccann I'm happy to take a look at this. How do you think we should approach it? I see a couple of options:

 1. Create as thin a bridge as possible, with a `createOpts` adapter option that gets passed as the [Luxon options argument](https://moment.github.io/luxon/docs/class/src/datetime.js~DateTime.html#static-method-fromMillis) into every call to `fromMillis`, `fromFormat`, `fromISO`, etc. T

[2019-03-06 10:32] simonbrunel commented on #3
@jonrimmer options are already available as part of `this.options` from all adapter methods. These options are (currently) read from the time scale `adapters.date` options (as my previous example). Chart.js doesn't know about the content of this object which is directly passed to the adapter.

So basically, we just need to inject these options in Luxon calls when applicable. I agree that we also n

[2019-03-06 10:59] kurkle commented on #3
I would start by passing `this.options` directly to Luxon.
Sanitizing / mapping from standard options API (TBD) can be added later, if it seems like a good idea.

If we later go for standardized options case I would still pass non-standard options directly, so we don't limit the possibilities and don't need to update adapters when underlying lib evolves.

Luxon's `locale` and `zone` sound like a g

[2019-03-06 15:34] benmccann commented on #3
Here's a list of options that a Luxon `DateTime` can take: https://github.com/moment/luxon/blob/master/src/datetime.js#L519

Info for `outputCalendar` here: https://moment.github.io/luxon/docs/manual/calendars.html
And `numberingSystem` here: https://moment.github.io/luxon/docs/manual/intl.html#numberingsystem

`zone` and `locale` will be the most useful. `outputCalendar` would be possibly useful.

[2019-03-06 15:44] simonbrunel commented on #3
`adapters.date.dateTime.zone` is quite redundant and confusing. We could nest under something more meaningful (e.g. `adapters.date.luxon.zone`) but I don't think it worths the extra level since most options will target Luxon. I also don't think users should care about which options are passed to Luxon directly or not.

[2019-03-06 15:57] kurkle commented on #3
In general, we have too much nesting from user point of view. So I would not nest.
I don't think there will be any overlap, unless adapter is change to do something its not designed to be doing.

[2019-03-06 16:14] benmccann commented on #3
If we don't want to separate options by `dateTime`, `duration`, etc. then let's include a test that verifies that Luxon will accept unexpected options so that if a user sets both `DateTime` and `Duration` options that the `DateTime` won't error from receiving `Duration` options and vice versa

[2019-03-06 16:36] simonbrunel commented on #3
I didn't understand why the `dateTime` key but now I get it was to scope by Luxon types (`DateTime`, `Duration`, `Info` and `Interval`). I'm not sure we need to do that because even Luxon doesn't make a difference, for example [`Interval.fromISO`](https://moment.github.io/luxon/docs/class/src/interval.js~Interval.html#static-method-fromISO) accepts a single `opts` object, which one will be "pass t

[2019-03-06 17:08] benmccann commented on #3
They're not always exactly the same. E.g. there's `conversionAccuracy` as a new option: https://github.com/moment/luxon/blob/master/src/duration.js#L201

I'm still not sure it's necessary to separate them out because it might get annoying to specify the same option for every luxon type. E.g. you probably don't need to set `locale` differently for `Duration`, `DateTime`, `Interval`, etc. As long as

[2019-03-13 09:38] jonrimmer commented on #3
Any thoughts on how to write tests for this?

- Do we need proper integration tests with Chart.js? I think this would be dependent on the creation of a [chartjs-devtools package](https://github.com/chartjs/Chart.js/issues/6110)?
- If unit tests alone are acceptable, should these still use Karma, or something else (e.g. Jest)?

[2019-03-15 16:54] benmccann commented on #3
All the Chart.js tests (including for plugins) use Karma. I just setup tests for https://github.com/chartjs/chartjs-chart-financial. It has a dependency on Chart.js and shows how to setup a test using that dependency. This was mostly copied from https://github.com/chartjs/chartjs-plugin-datalabels, which might have a bit cleaner setup. I don't think chartjs-devtools package would necessarily be a

[2019-03-17 16:36] jonrimmer commented on #3
@benmccann The adapter only uses `DateTime`, not `Interval` or any of the other Luxon types, though. So is checking for options compatibility between them still necessary for this project?

[2019-03-17 20:37] benmccann commented on #3
I think it does use some other types. E.g. we call `DateTime.diff` which returns a `Duration`. But that being said I think it's probably cleaner not to have the extra level of nesting, so I'm okay not worrying about it

[2019-04-11 06:17] #3 closed

[2019-05-03 10:46] aried3r commented on #2
Hey, I was just looking into writing my first adapter for dayjs which is [largely API compatible to Moment.js](https://github.com/iamkun/dayjs/) (see first quote in README), so I took the [adapter used in Chart.js](https://github.com/chartjs/Chart.js/blob/master/src/adapters/adapter.moment.js) and `s/moment/dayjs/`.

But I also faced the problem of i18n, for example the default adapter uses 12-hou

[2019-05-03 14:56] benmccann commented on #2
This is very dependent upon the specific library being used. Each will have a different solution. This ticket suggests a relatively straightforward solution for the Luxon adapter. This solution would work for date-fns as well if using the date-fns-tz package. dayjs does not yet have a way to use the browser's `Intl` api, so you currently would need to import a [locale file](https://github.com/iamk

[2019-05-15 12:16] simonbrunel commented on #2
@benmccann do you want to submit a PR with these suggested changes?

[2019-05-15 12:40] aried3r commented on #2
I think that would be something a lot of people are either already doing or would be fine with. I have a local version of what could be a chartjs-adapter-dayjs which uses the [LocalizedFormat](https://github.com/iamkun/dayjs/blob/dev/docs/en/Plugin.md#localizedformat) plugin.

Anyway, this is probably the wrong place to discuss this. Would be the main Chartjs repo be better to discuss a potential,

[2019-05-15 12:55] simonbrunel commented on #2
I also think we should use localized formats, built-in as suggested in the description of this ticket.

If you are interested in developing **and maintaining** such adapter, I would start a personal repository (`aried3r/chartjs-adapter-dayjs`) based on the structure of this repo or the [`date-fns`](/chartjs/chartjs-adapter-date-fns) one depending which one have the most similar API as dayjs.

To p

[2019-05-28 17:17] #2 closed

[2020-02-07 16:48] fmeyszies opened #9 "Parser Error for Luxon Objects"
Versions:
- Chart.js: 2.9.3
- Chart.js adapter luxon: 0.2.0
- Luxon: 1.22.0

When I try to use Luxon DateTime Objects in my Datasets Data, the chartjs-adapter-luxon parser has an error on line 57 when it tries to parse the incoming DateTime object. I do not know if I missed something on how to use this adapter, but as soon as I just remove line 57 for testing purposes, the DateTime objects work.

[2020-02-07 17:07] benmccann commented on #9
Typically it's expected that the data would be passed in as timestamps. E.g. if you fetch data from the server, the server can fetch JSON containing numbers, but not Luxon DateTime objects. Would that work for you or is there a use case where it makes more sense to have already parsed DateTime objects?

[2020-02-07 17:14] saintflow47 commented on #9
To harness the full power of luxon, I decided to parse data from the server as early as possible so I can work with luxon objects in all parts of my frontend. Of course I could start making exceptions, but in this case, I would love not to!

[2020-02-20 17:52] iddings commented on #9
I would second this for a similar reason, being able to pre-process data as Luxon objects would be ideal. The fix should be as simple as changing [line 47 in index.js](https://github.com/chartjs/chartjs-adapter-luxon/blob/68172ba041437caa9df0cd1439c6c93fdd813fb4/src/index.js#L47) from:

`} else if (type === 'object') {`

to:

`} else if (type === 'object' && !value.isLuxonDateTime) {`

[2020-02-20 18:08] benmccann commented on #9
`isLuxonDateTime` looks like a private field so probably better to check `instanceof DateTime`. Feel free to send a PR

[2020-02-20 21:55] iddings commented on #9
good call. see #10

[2020-04-02 00:43] krumware opened #16 "Provide ES6 version"
I'm sorry if this has an obvious answer, I wanted to give this a shot with the recent update to support Chart.js 3.0.0-alpha (thanks!!) using chartjs-adapter-luxon v0.2.1.

I'm importing only at this point (commented out chart initialization to remove that variable)
[code]

and receiving
[code]

Am I missing an intermediate step?

[2020-04-02 02:21] benmccann commented on #16
Hmm. I'm not quite sure what would be going wrong. I was able to use this adapter with 3.0.0-alpha in my webpack project. What build system are you using?

You should probably be able to do `import Chart from 'chart.js';` instead of `import Chart from 'chart.js/dist/Chart.esm.js';`, but I imagine they should be equivalent though and it wouldn't cause problems one way or the other

I'm also wonderi

[2020-04-02 02:56] krumware commented on #16
You're correct on the 'chart.js' change. It wasn't working the first time (and remembered issues from <3.0), so I switched to the esm version deliberately. I switched that back and that works fine (without chartjs-adapter-luxon).

I included the `import 'luxon';` as a resolution attempt, same error happens either way.

I'm using es-dev-server from @open-wc to serve the files in development. I don'

[2020-04-02 03:00] krumware commented on #16
Here is the error I get when running a build with Rollup
[code]

[2020-04-02 03:13] krumware commented on #16
Ahhh, I think its the distribution. It works great if I simply copy the source file and import it directly.

I didn't realize the files would be in a dist folder rather than just using the source. Maybe it would be helpful to output an esm version to match up with chart.js >3.0?  Like starting here in their rollup.config: https://github.com/chartjs/Chart.js/blob/a7fe828ee1bba980e8afafb01017a9b9e65

[2020-04-02 03:29] benmccann commented on #16
Ah, I see. Yeah, the way the main Chart.js library works is that its [rollup.config.js](https://github.com/chartjs/Chart.js/blob/master/rollup.config.js) outputs UMD (for script users) and ES6 builds (for npm users) and then [its package.json provides a pointer to the ES6 version](https://github.com/chartjs/Chart.js/blob/master/package.json#L10). I'd be open to doing the same here if you want to s

[2020-04-07 17:21] benmccann commented on #9
Fixed

[2020-04-07 17:21] #9 closed

[2020-04-10 18:59] krumware commented on #16
sorry for the silence @benmccann, been wrapped up! I'll definitely try to get to that

[2020-05-05 18:58] #16 closed

[2020-05-05 20:58] iddings opened #18 "Passing Zone object to options.adapters.date causes invalid dates."
This isn't really a bug with this adapter, but it doesn't seem like this warrants an issue in the Chart.js main repo.

Because of the way Chart.js merges options, things like a luxon FixedOffsetZone get broken. I.e. if you pass a FixedOffsetZone object as the "zone" option to this adapter, Chart.js will convert it to an object like this:
`{ fixed: -300 }`. Luxon will then see that as an invalid zo

[2020-05-05 21:19] benmccann commented on #18
Oh, so the issue is that Chart.js expects all options to be object literals and if you pass in an instance of some other type then Chart.js clones it and you lose the class instance. Is that it?

If I've correctly described the issue, I think the best thing to do would be to report it in the main Chart.js repo and see if we can get a real fix for the underlying issue. We're currently working on Ch

[2020-05-11 15:13] benmccann commented on #18
Linking the upstream issue: https://github.com/chartjs/Chart.js/issues/7340

[2020-05-11 15:16] benmccann commented on #18
@iddings thanks for filing the issue upstream

I just took a look at the Luxon docs and didn't see any examples of using a `FixedOffset`. All the examples used strings to specify time zones. Can you share an example of how to reproduce this and what input you're providing?

[2020-05-11 16:17] iddings commented on #18
Sure, `FixedOffset` is a typo, should have been `FixedOffsetZone`. Our use case is displaying climate data in either UTC, or local standard time (of the station at which the data was collected). We essentially pretend that DST doesn't exist, so we use fixed offsets from UTC to present data.

[CodePen](https://codepen.io/bryaniddings/pen/LYprZQN)

Without a workaround, passing an instance of `Fixed

[2020-08-05 12:57] stockiNail opened #22 "`isoWeekday` is not a function"
I got an error `isoWeekday is not a function` when I try to use the `startOf` method of the adapter.

https://github.com/chartjs/chartjs-adapter-luxon/blob/18d1a9b5cd4a441e135a80c7505d4fb3bf089be9/src/index.js#L75

Having a look to Luxon documentation, the `isoWeekday(weekday)` sounds to belong to Moment and not to Luxon.

The doc https://github.com/moment/luxon/blob/master/docs/moment.md#unit-get

[2020-08-05 14:54] benmccann commented on #22
Just as a heads up, I don't have time to fix at the moment, but I'll review a PR if you want to take a stab

[2020-08-05 14:57] stockiNail commented on #22
@benmccann let me take time because I'm very busy as well but I can try to submit a PR. Ok for you?

[2020-08-05 15:11] benmccann commented on #22
Sure. No rush

[2020-08-05 16:29] stockiNail commented on #22
@benmccann submitted. Take your time!

[2020-08-05 17:27] stockiNail commented on #22
Please Walt for a while because calculation is stil wrong

[2020-08-05 18:45] stockiNail commented on #22
@benmccann fixed again in order to:

1.  calculate the right start of week because previously was wrong the calculation when weekday passed as argument was 7 (Sunday)
2. normalized the weekday passed as argument in order to have always a consistent result even if the weekday argument is not between 1 and 7.

[2020-08-10 12:14] #22 closed

[2020-09-01 13:02] aalyokhin opened #27 "Cannot read property '_adapters' of undefined with v3-alpha2"
Hey guys. When using 0.2.2 with latest Chart.js 3.0.0-alpha.2 I am getting the following:

`Cannot read property '_adapters' of undefined`

However 0.2.1 works fine. Reproduced on [Codesandbox](https://codesandbox.io/s/chartjs-forked-019se).

[2021-02-08 17:29] kashifshamaz21 opened #28 "Support for Chart.js v3 - import error: 'chart.js' does not contain a default export (imported as 'Chart')"
@benmccann I'm trying to use `Chart.js 3.x` with current version of `chartjs-adapter-luxon (v0.2.2)`, and it seems like Chartjs-v3 isn't yet supported.

I get an import error while compiling:
[code]
**Module Versions:**
[code]
Is it possible to add support for v3, if the fix is only in making the right import and doesn't need lot of changes? I would be happy to send a PR if you can let me know the

[2021-02-08 17:32] benmccann commented on #28
I think maybe the last version worked and the current doesn't. Try `"chartjs-adapter-luxon": "0.2.1"`

[2021-02-08 18:43] kashifshamaz21 commented on #28
@benmccann  Thanks for the quick response. Yes, I tried with `0.2.1` and I didn't see the above compile time error with that version. Would you be able to fix the import error for the latest version as well?

[2021-03-07 19:39] etimberg commented on #27
I believe this is fixed with #29

[2021-03-07 19:39] #27 closed

[2021-03-07 20:27] #28 closed

[2021-03-07 22:28] etimberg commented on #18
This should be resolved in chart.js v3.0.0-beta.12 since options are no longer merged

[2021-03-07 22:28] #18 closed

[2021-03-26 03:17] Codermar commented on #27
I don't think this is fixed. I am seeing the same error with chartjs-adapter-luxon 0.2.2 and 3.0.0-rc.5. You can try the above codesandbox with the rc version and see. @aalyokhin  Have you found a workaround?

[2021-03-26 05:32] kurkle commented on #27
It's the v1.0.0--beta,where this is fixed

[2021-03-26 16:16] Codermar commented on #27
Thank you for the hint. You are right, 1.0.0-beta.2 does work in my case.

[2021-05-21 15:03] iar01 commented on #28
Go to
`./node_modules/react-chartjs-2/es/index.js` and change
`import Chart from 'chart.js';`
to
`import {Chart} from 'chart.js';` it would work

[2021-07-14 09:57] maennchen opened #38 "Support Luxon v2"
For upgrade, see https://moment.github.io/luxon/#/upgrading

[2021-07-15 16:27] benmccann commented on #38
It's not clear to me that any code changes are necessary other than just bumping the accepted versions in `package.json`. Can you try and see if it works for you?

[2021-07-21 12:35] maennchen commented on #38
Replaced by #39

[2021-07-21 12:35] #38 closed

[2021-10-06 03:06] s4m0r4m4 opened #44 "Link on README is broken"
The "Luxon API docs" link on the README is broken, just fyi.

[2021-10-06 05:38] kurkle commented on #44
Fixed by https://github.com/chartjs/chartjs-adapter-luxon/commit/256af99841ba53b34fe8b3946562c734a53b9309 (unwittingly committed directly)

[2021-10-06 05:38] #44 closed

[2021-10-07 01:54] s4m0r4m4 commented on #44
Cool thanks! Just a suggestion - you may want to consider protecting the master branch against direct commits, all the best!

[2021-12-01 14:31] ocarreterom opened #46 "displayFormats unexpected result"
Hi!
I'm trying to display the weekday but the result is unexpected.

I'm not sure if it's an error with this plugin, with Chartjs or I'm doing something wrong.

https://codesandbox.io/s/jovial-hermann-pnb72?file=/src/index.js

I expect to get the label `monday`, `tuesday ` but I get `monday, 29 nov`, `tuesday, 30 nov`

[code]

Thanks!

[2021-12-01 14:42] kurkle commented on #46
I thinks you need to use the tokens.

[2021-12-01 14:57] stockiNail commented on #46
@ocarreterom I think the `displayFormats` config is wrong.

The `displayFormats` object can contain values where the key is the unit and the value is the format.
Inner nodes (like `day: { weekday: "long" } `) are not enabled.

Try and let us know if the following works:

[code]

[2021-12-01 15:13] ocarreterom commented on #46
@kurkle yes, that works but the result is not localized.

@stockiNail I'm using an object instead because I'm trying to run this line https://github.com/chartjs/chartjs-adapter-luxon/blob/master/src/index.js#L60 and get the localized string using Intl.

If I set an invalid format like `{ day: { weekday: 'asdf' } }` I get this error: `weekday must be "narrow", "short", or "long"`, so the code is ru

[2021-12-01 15:17] ocarreterom commented on #46
@kurkle The Luxon documentation says https://moment.github.io/luxon/#/formatting?id=intl-1

And this plugin is not setting the locale explicitly.

[2021-12-01 15:45] stockiNail commented on #46
I meant you should use `displayFormats: { day: "EEEE" }`. I have tried in your sample and seems working.

To set the locale information, you should use `adapters.date` nodes in the scale options.

See https://github.com/chartjs/chartjs-adapter-luxon/pull/42 where it's explained which options you can set.

See also this codepen, when a `locale` is set. https://codepen.io/stockinail/pen/rNyYapz

Con

[2021-12-01 15:50] stockiNail commented on #46
@ocarreterom Using your sandbox.

Options

![options](https://user-images.githubusercontent.com/11741250/144266799-fea5fb51-d7db-485d-a83d-b8fa3628dcc3.png)

Result

![locale](https://user-images.githubusercontent.com/11741250/144266822-bb4f013b-e936-416b-9d57-dfc2ef81645e.png)

[2021-12-01 16:00] stockiNail commented on #46
I didn't recognize you used `locale: 'es'`

Here is the result with locale 'es':

![Screenshot 2021-12-01 165938](https://user-images.githubusercontent.com/11741250/144268543-1914d30b-eedc-4f96-b3d3-0ca99f97262b.png)
![locale](https://user-images.githubusercontent.com/11741250/144268561-7a2cfa6f-6149-4d45-b25c-ebaf6e7eda1f.png)

[2021-12-01 16:03] ocarreterom commented on #46
@stockiNail that works!

It's a little verbose to set the locale two times and I still think that the Intl notation should work.

Thanks for your help!

[2021-12-01 16:11] stockiNail commented on #46
@ocarreterom Agree! See my open issue: https://github.com/chartjs/Chart.js/issues/7859. Planned for CHART.JS version 4

[2021-12-21 07:50] choudhary-ankit opened #47 "luxon module not found."
I am getting a error "luxon module not found" during build on AWS but it's work on local.

[2022-02-26 04:57] chrissnell-okta opened #51 "Unable to parse Unix millisecond time"
Hi,

I am trying to parse time that's stored in Unix millisecond format (integer) in JSON and getting this error:

```Uncaught (in promise) Error: fromMillis requires a numerical input, but received a string with value 11:55:00.000 PM```

This is very strange because I'm pretty dang certain that my time is formatted correctly and indeed, when I do a `console.log(thsiodata)`, I can see that it is f

[2022-02-26 14:31] stockiNail commented on #51
@chrissnell-okta  it's not a problem of the adapter but the issue is on the `ticks.callback`. The `val` argument is already the formatted date value therefore you should not need to ask to the scale to have the label value by a timestamp in string format.

I tried your sample with the following callbacks:

[code]

![l2](https://user-images.githubusercontent.com/11741250/155846852-54ac9502-5b7e-4dc

[2022-02-26 15:00] stockiNail commented on #51
@chrissnell-okta I have seen that in the https://carlisleweather.com/,  the chart has got ticks at the minute 00 every 4 hours.

If you wan to do the same, you could define your scales as following:

[code]

![l3](https://user-images.githubusercontent.com/11741250/155847790-50778e8b-504b-4a83-a53d-71a02f43d638.png)

[2022-02-26 21:10] chrissnell-okta commented on #51
Thank you so much, @stockiNail !

It would be great if these could be added to an example in the project README, since my ticks callback was straight out of the Chart.js docs which, I think, many rookies like me will simply copy.

Thanks again.

[2022-02-26 21:10] #51 closed

[2022-02-28 09:42] stockiNail commented on #51
@chrissnell-okta I think this note it shouldn't be included in this project because this project is providing an adapter which is "only" providing a normalization for CHART.JS to invoke the datetime services of Luxon. CHART.JS can use other datetime libraries and this layer can provide the right abstraction from the under layer library.

Going to CHART.JS, the example you used it's related to `cat

[2022-04-25 09:46] fibo opened #59 "missing typing declaration"
Importing *chartjs-adapter-luxon* in a TypeScript module you get a complain about missing typings declaration.

I solved adding an *chartjs-adapter.luxon.d.ts* file with content

[code]

I do not know if it is the right solution, but for sure including an index.d.ts file in this package would save time to many other developers, in particular those that are starting with TypeScript.

[2022-06-21 13:30] winsmith opened #60 "Import issue with ChartJS 3.8"
After updating from ChartJS 3.7.1 to ChartJS 3.8, any charts that would use the Luxon adapter stopped working. It seems that ChartJS changed the way their modules are exported slightly and the patches that chartjs-adapter-luxon is making don't register any more, at least in my project.

Any charts that use datetimes don't display any more and the console shows this error message:

[code]

My worka

[2022-06-24 13:25] gabrielcalk commented on #22
Hello, I'm having a problem with ISO Day of Week after I migrated from moment to dayjs. Here's the error:
![image](https://user-images.githubusercontent.com/89816900/175544902-04656b9b-7dee-421e-88e8-6a25d94c79ea.png)

Repo link: https://github.com/gabrielcalk/moment_to_day

[2022-07-09 22:05] StephanTLavavej opened #61 "chartjs-adapter-luxon 1.1.0 is incompatible with luxon 3.0.1"
I'm seeing the following npm warning when I attempt to update to today's release of luxon 3.0.1:

[code]

This may be related to:

https://github.com/chartjs/chartjs-adapter-luxon/blob/1b1c23073eb364bd5bd25de6161a19be44d5b5fc/package.json#L56

It appears that chartjs-adapter-luxon needs to be updated to accept the luxon 3.x series.

(Thanks again for your great work! I use it in the [microsoft/STL

[2022-07-10 08:08] freecorvette opened #62 "Detect when loaded"
Hello, I'm loading:
https://cdn.jsdelivr.net/npm/chart.js
https://cdn.jsdelivr.net/npm/luxon
https://cdn.jsdelivr.net/npm/chartjs-adapter-luxon

asnchronously and I need to detect when they are loaded, since each one depends on the previous and drawing the chart depends on all three. For chart and luxon, I'm able to find out when they are loaded using:

`typeof Chart != "undefined"`
and
// typeof

[2022-07-11 11:09] stockiNail commented on #61
@StephanTLavavej I don't have a huge experience on npm, therefore I'm not sure, but I think the `peerDependencies` could be:

[code]

because the adapter is declared to work with Luxon greater than 1.0.0 version.

[2022-07-11 13:13] stockiNail commented on #61
I have done some tests and the current adapter sounds working properly with Luxon 3.0.1.

[2022-07-11 19:44] Cluster2a commented on #61
Same problem here....

![image](https://user-images.githubusercontent.com/84905165/178345672-4cab7e93-3eb3-4361-95ed-b8ffeaf52e6c.png)

[2022-07-11 19:54] benmccann commented on #61
"luxon": "^1.0.0"
because the adapter is declared to work with Luxon greater than 1.0.0 version.

That means it must be 1.x version. You'd want it to be `>= 1.0.0` for that. `*` or `>= 0.0.0` would probably work too. Docs for it are here: https://docs.npmjs.com/cli/v6/using-npm/semver#ranges

[2022-07-13 08:21] stockiNail commented on #61
@benmccann I had a look to the doc (thanks!). In my opinion, it sounds better to have `"luxon": "*"`, but I'm not aware if the adapter can work with Luxon 0.*.

[2022-07-13 09:32] kurkle commented on #61
I'd use `>=1.0.0`

[2022-07-14 07:12] stockiNail opened #67 "Object parsing ignores the user options"
Developing #66, I have discovered a bug in the `parse` method of the adapter.

To create a Luxon `DateTime` object, you must use `DateTime.from*` methods which are all receiving the options in order to set the locale, zone, numbering and calendar systems.

Currently the adapter is not passing the user options (and therefore it's ignoring it) in the parse method when the value to parse is an object

[2022-07-14 13:07] stockiNail commented on #59
@fibo forgive my big lack of knowledge in TS.
I'm curious why you need to import the adapter. Do you need to use the DateAdapter methods outside of Chart.js?

[2022-07-14 13:24] fibo commented on #59
I have a Chart.tsx component that uses chart.js lib,

When I import it with

[code]

I have this warning

<img width="870" alt="Screenshot 2022-07-14 at 15 20 14" src="https://user-images.githubusercontent.com/176730/178991957-2246af42-d66a-4580-b06a-5457cac54664.png">

I can create a PR to solve this warning if you think it is worth.

[2022-07-14 13:34] stockiNail commented on #59
Thank you very much. As said, I'm not really an expert on TS and I'm sure I'm missing something and therefore I don't know if it's worth or not.

I was curious how could work and needs (having done some tests in a my branch, creating the index.d.ts).

[2022-07-14 13:42] stockiNail commented on #60
@winsmith may I ask you if you can reproduce the issue in codepen?

[2022-07-14 13:59] stockiNail commented on #62
@freecorvette having a look your issue, let me say that

[code]

Luxon is a backend library:

[code]

That said, if you have `(typeof Chart !== 'undefined' && typeof Chart._adapters._date !== "undefined')` you should be almost sure to have everything loaded. Anyway I'm curious to know how you can guarantee that the adpater will load when chartjs and luxon are already loaded (if I'm not wrong this

[2022-07-14 14:22] fibo commented on #59
yes if you add a *dist/index.d.ts* file and reference it in you package.json, it should be enough

[code]

[2022-07-14 14:27] stockiNail commented on #59
yes, did. But I am interested to understand what to export. The module creation sounds "simple" but I am also thinking about the luxon options (see readme) that are not defined anywhere and could be in chartjs config (in scale.adapters.date).

[2022-07-15 22:47] LeeLenaleee commented on #59
Nothing gets exported or is configurable for the adapter, I also dont get any TS errors while trying to reproduce it.
https://codesandbox.io/s/react-typescript-forked-5s45fs?file=/src/App.tsx

Adding an empty declaration sounds kind of hacky to me not sure if it will solve the issue since apperently your compiler sees something being exported being typed as any and adding an empty declaration file

[2022-07-15 22:50] LeeLenaleee commented on #60
Only thing I can think off by that error is that you dont import the adapter, thats the only way you get that error afaik, when I try it, it seems to work fine: https://codesandbox.io/s/react-typescript-forked-5s45fs?file=/src/App.tsx

[2022-07-19 19:27] freecorvette commented on #62
@stockiNail I made a mistake in my original post.

* `typeof Chart !== "undefined"` does indeed check that CHART.JS was loaded
* `typeof luxon !== "undefined"` is the actual check for LUXON (and not `typeof Chart._adapters._date !== "undefined"` as originally posted -- I've edited the post as well)

The problem is that, right after loading CHART.JS (and CHART.JS only), `typeof Chart._adapters._dat

[2022-07-20 08:42] stockiNail commented on #62
Yes, CHART.JS set a default adapter which is throwing an exception on all functions.

Luxon adapter contains a private property (`_id`) set to 'luxon'.

https://github.com/chartjs/chartjs-adapter-luxon/blob/1b1c23073eb364bd5bd25de6161a19be44d5b5fc/src/index.js#L18

Therefore, as workaround, you could check that property, something like:

[code]

As said, `_id` is a private option.

EDIT

When I wr

[2022-07-25 21:19] claireramming commented on #61
I see the pull request to fix this issue is approved... are there plans to merge it soon?

[2022-07-26 04:01] #61 closed

[2022-07-26 07:21] stockiNail commented on #67
Closed by #64

[2022-07-26 07:21] #67 closed

[2022-07-27 16:19] claireramming commented on #61
does this change also need to be released? I'm still getting the same error when I try to install.

[2022-07-29 13:54] stockiNail opened #71 "Use chart "locale" if it is not specified in the adatpter options"
When the following PR https://github.com/chartjs/Chart.js/pull/10528 in Chart.js project will be released, the adapter should be updated in order to use the chart locale options if there isn't any locale definition in the adapter options.

[2022-08-01 09:33] freecorvette commented on #62
@stockiNail, the private member check workaround works, thanks for the detailed answer! In case anyone else needs it, I'm posting below my loading setup (the whole point was to load all scripts asynchronously on the web page and do it in parallel as much as possible -- that is, chain only scripts that depend on each other):

[code]

[2022-08-01 09:33] #62 closed

[2022-08-01 21:41] Cluster2a commented on #61
Same here - still getting the same error.

[2022-08-03 14:32] escay opened #73 "Improve ChartJS Tooltip to contain the dataset label name, similar to ChartJs Linear Axis default."
When using a ChartJs Linear Axis I see a default tooltip with the dataset label name in it:

![image](https://user-images.githubusercontent.com/1008888/182632410-5354cc46-0fbc-4fad-809b-c9114a5fcaaf.png)

When using ChartJs (3.6.2 with Luxon 3.0 and chartjs-adapter-luxon 1.1.0) Time Cartesian Axis I see a default tooltip without the dataset label name in it:

![image](https://user-images.githubuse

[2022-08-03 16:35] benmccann commented on #61
The change has not been released. You can see that here: https://www.npmjs.com/package/chartjs-adapter-luxon

Perhaps @stockiNail or @kurkle would be able to help with cutting a release

[2022-08-03 16:48] stockiNail commented on #61
@benmccann I cannot do anything because I am not a collaborator

[2022-08-03 16:50] #71 closed

[2022-08-03 16:58] kurkle commented on #73
Looks like a scatter chart the 2nd image (vs line in the first)? This adapter has nothing to do with the tooltip itself, it only provides formatting capabilities of the timestamps.

[2022-08-03 17:22] kurkle commented on #61
Released: https://www.npmjs.com/package/chartjs-adapter-luxon/v/1.2.0

[2022-08-03 18:17] escay commented on #73
Thank you for having a look.

The first chart is a line chart using Linear axis:
https://www.chartjs.org/docs/latest/axes/cartesian/linear.html

The second chart is line chart using Time axis:
https://www.chartjs.org/docs/latest/axes/cartesian/time.html

Like:
[code]

I thought the tooltip formatting was handled with this plugin because the date data is in millis since epoch, but shown in the tool

[2022-08-03 18:34] kurkle commented on #73
https://github.com/chartjs/Chart.js/blob/9ab50e6313f4233bd561c1824c2c7aec28c8e379/src/controllers/controller.scatter.js#L153

Its the controllers (= chart type) that override the default tooltip. That is why I thought the 2nd image was from a scatter chart, beceuse the tooltip looks like the tooltip from scatter chart.

For example of the default tooltip on line/time: https://www.chartjs.org/docs/

[2022-08-03 18:40] kurkle commented on #73
There is a `tooltipFormat` option in the time scale, where you can define how you want the timestamp formatted.

[code]

[2022-08-03 18:50] escay commented on #73
Thank you for the tooltipFormat hint, I use the Luxon format already with success on the X axis label.
I will look into the scatterchart hint, I could have made a mistake there.

Testing in a codepen shows the tooltip I would expect, including dataset label in the tooltip:
https://codepen.io/escay/pen/LYddRzb

[2022-08-03 18:50] #73 closed

[2022-08-03 20:06] stockiNail commented on #46
@ocarreterom with version 1.2.0 of this adapter and Chart.js > 3.9.0, the adapter will use the `locale` option at chart level if not specified in the `adapter.date` options.

In this way, you can set the locale only at chart options level.
I think this could be closed, doesn't it?

[2022-08-03 20:34] ocarreterom commented on #46
@stockiNail yes, this can be close. Thanks!

[2022-08-03 20:35] #46 closed

[2022-08-04 07:16] escay commented on #73
I can confirm it was a bug on my side and not related to any date / time formatting at all.
Somewhere in my code
[code]
was generated. Now using 'line' and the tooltip is including the dataset label:

![image](https://user-images.githubusercontent.com/1008888/182786415-0f1a0a6e-b991-496e-84ee-17779b7cae42.png)

Thank you @kurkle for recognizing the scatter plot tooltip.

[2022-10-04 00:25] rhegner opened #75 "How to use in angular project?"
I'm using chart.js wrapped in an angular module (I'm using PrimeNG's `ChartModule`).

Now I'd like to use the `chartjs-adapter-luxon`. I added `luxon` and `chartjs-adapter-luxon` to my package.json.
What else do I need to do, so that chart.js recognizes the date adapter?

I tried adding "node_modules/luxon/build/es6/luxon.js" and "node_modules/chartjs-adapter-luxon/dist/chartjs-adapter-luxon.js" t

[2022-10-04 11:42] rhegner commented on #75
Oh... it's actually really easy....
I just added
`import 'chartjs-adapter-luxon';`
in my app.module.ts and now it works :)

[2022-10-04 11:42] #75 closed

[2022-11-15 04:35] StephanTLavavej opened #76 "chartjs-adapter-luxon 1.2.0 is incompatible with chart.js 4.x"
I'm seeing the following error when I attempt to update to chart.js 4.x, released ~5 hours ago:

[code]

This is similar to #61 which happened when luxon updated its major version.

[2022-11-16 16:44] #76 closed

[2022-11-16 20:07] paulsingh opened #78 "Import issue with chartjs-adapter-luxon 1.2.1"
After upgrading to chartjs-adapter-luxon@1.2.1 (and chart.js@4.0.1), I get the following error:

`Error: Failed to resolve entry for package "chart.js". The package may have incorrect main/module/exports specified in its package.json: No known conditions for "." entry in "chart.js" package`

Edit: upon a bit more digging, it seems to only throw this error when running server-side (eg, SSR). No err

[2022-11-16 22:21] benmccann commented on #78
This is a weird error message because it's about `chart.js` which is mostly packaged fine (though I did notice one issue: https://github.com/chartjs/Chart.js/pull/10880).

That being said, the packaging for this library is not good. It has a UMD file in `main`, which is not very friendly for most npm users and should really only be used with `script` tags, CDNs, etc. We should update this package

[2022-11-17 14:11] hugo-valcourt commented on #76
I tried chart4 on my project (with --force), and I had no problem with chartjs-adapter-luxon.

Should be easy to upgrade to chart4

[2022-11-19 02:31] StephanTLavavej commented on #76
Verified that the chartjs-adapter-luxon 1.2.1 release works for me - thanks! :heart_eyes_cat:

[2022-11-19 20:27] #78 closed

[2022-11-22 20:45] guydavis opened #83 "Chart display broken after upgrading to Chart.js 4.0.1 and chart-adapter-luxon 1.2.1"
Hi all, great project! Really appreciate the integration between Chart.js and Luxon.  However, I just updated my application to Chart.js 4.0.1 (was 3.9.1) and chartjs-adapter-luxon 1.2.1 (was 1.2.0).  Luxon library is [same version](https://moment.github.io/luxon/global/luxon.min.js). Unfortunately, now my charts display is broken and browser console shows:

[code]
Any tips on overcoming this?  Sh

[2022-11-22 22:09] benmccann commented on #83
you may wish to try again after the new version is released: https://github.com/chartjs/chartjs-adapter-luxon/pull/82

[2022-11-24 04:08] guydavis commented on #83
Thanks for the quick turnaround.  That update to version 1.3.0 seems to have removed the original error above.

Now my problem is with [chartjs-plugin-datalabels](https://github.com/chartjs/chartjs-plugin-datalabels/issues/347).  I think I'm just going to rollback to ChartJS 3.9 in my development branch until the issues with ChartJS' ecosystem get ironed out.  Thanks again!

[2022-11-24 04:08] #83 closed